* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body{
  height: 100%;
  background : #f5e4d7;
}

#root {
  height: 100%;
}


.Container {
  padding-right: 30px !important;
  padding-left: 30px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100%;
}
